/* Ana Medya Görüntüleyici Stilleri */
#media-wrapper {
    position: relative;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    overflow: hidden; /* Kenarları yuvarlak tutar */
}

/* Yükleme animasyonu ortada olsun diye */
#loading-spinner {
    position: absolute;
}

#media-display, #video-display {
    max-height: 75vh;
    max-width: 100%;
    object-fit: contain; /* Görüntü oranını korur */
    width: auto;
    height: auto;
}

/* Ayarlar sayfası için */
#key-input {
    background-color: #343a40 !important;
    cursor: pointer;
}
#shortcut-list kbd {
    display: inline-block;
    padding: 0.2em 0.4em;
    font-size: 0.85em;
    font-weight: bold;
    color: #fff;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 3px;
    vertical-align: middle;
} 