{% extends "_base.html" %}
{% block title %}Uygulama - PhotoSwipe{% endblock %}
{% block content %}
<div id="status-message" class="alert d-none" role="alert"></div>

<div id="app-container" class="text-center">
    <div id="media-wrapper" class="mb-3">
        <div id="loading-spinner" class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Yükleniyor...</span>
        </div>
        <img id="media-display" class="d-none" alt="Google Photos Media">
        <video id="video-display" class="d-none" controls></video>
    </div>
    <div id="media-info" class="text-muted fst-italic">&nbsp;</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %} 